NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SHINEZONE_API_URL=http://localhost:8000
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
SHINEZONE_API_TOKEN=
BOOKING_REFERENCE_PREFIX=SZ
UPLOAD_MAX_FILES=5
UPLOAD_MAX_FILE_MB=10
RESEND_API_KEY=
BOOKING_NOTIFICATIONS_FROM=
BOOKING_NOTIFICATIONS_TO=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
SMS_NOTIFICATIONS_ENABLED=false
